body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: hsl(210, 36%, 96%)
}

.item {
  background: #fff;
  padding: 0.834rem;
  border-radius: 5px;
}
